.product-tile {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f9f9f9;
    color: black;
  }

  .pt-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .pt-desc {
    color: #555;
  }
}
