.panel {
  position: sticky;
  top: 24px;
  align-self: flex-start;
  width: 300px;
  flex: 0 0 300px;
  min-width: 0;
  height: calc(100vh - 48px);
  background-color: black;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
  transition:
    width 0.3s ease-in-out,
    flex-basis 0.3s ease-in-out,
    opacity 0.2s ease-in-out,
    margin-left 0.3s ease-in-out;

  &.opened {
    width: 300px;
    flex-basis: 300px;
    margin-left: 16px;
    opacity: 1;
  }
  &.closed {
    margin-left: 0;
    width: 0;
    flex-basis: 0;
    min-width: 0;
    opacity: 0;
  }

  .p-close {
    position: absolute;
    top: 0px;
    right: 8px;
    padding: 0;
    background: none;
    border: none;
    color: white;
    font-size: 16px;

    cursor: pointer;
  }

  .p-content {
    padding: 16px;
  }

  &.closed .p-content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-height: none;
    width: 100%;
    flex: 0 0 100%;
    z-index: 10;
  }

  .panel.opened {
    margin-left: 0;
  }
}
